<div  id="content">
	<h1>Sleek.js</h1>
	<h2>Get ready to make magic!</h2>
	<p>One step solution for faster, flexible and user friendly web apps </p>	
    	
</div>
<hr>
<h2>Modular SleekJS</h2>
<whois></whois>
<br>
<p>Modular Sleek JS with Angular JS is a collection of tools and best practice packed up together in order to mantain a clean project structure.</p>

<p>SleekJs provides you with a cutting edge AngularJS development workflow. It's been designed to provide you with a super fast test driven front-end development lifecycle. Everything you need should be just one command away, if it's not please open an issue or fork and submit a pull request.</p>

<hr>

<h2>AngularJS + RequireJS</h2><br>
<p>While delivering software projects for startups, we’ve come to love AngularJS. We’ve also come to struggle with clean modularity, both the parts that Angular does really well, and the parts that are somewhat missing. RequireJS does a great job where Angular leaves some things to be desired, but using them together is not entirely trivial. </p>
<!-- <div ng-repeat="module in sidebars">
<div class="{{module.name}}" ng-include="module.template"></div>
</div> -->